[Desktop Entry]
Name=Pdf2img
Exec=pdf2img
Comment="Convert PDF books to PNG, JPG and other image formats easily"
Icon=/usr/share/icons/pdf2img_icon.png
NoDisplay=false
Type=Application
Categories=Graphics;
